/* Coolors Exported Palette - https://coolors.co/227c9d-17c3b2-ffcb77-fef9ef-fe6d73 */

/* CSS HEX */
--cg-blue: #227c9dff;
--tiffany-blue: #17c3b2ff;
--maximum-yellow-red: #ffcb77ff;
--floral-white: #fef9efff;
--light-coral: #fe6d73ff;

/* CSS HSL */
--cg-blue: hsla(196, 64%, 37%, 1);
--tiffany-blue: hsla(174, 79%, 43%, 1);
--maximum-yellow-red: hsla(37, 100%, 73%, 1);
--floral-white: hsla(40, 88%, 97%, 1);
--light-coral: hsla(358, 99%, 71%, 1);

/* SCSS HEX */
$cg-blue: #227c9dff;
$tiffany-blue: #17c3b2ff;
$maximum-yellow-red: #ffcb77ff;
$floral-white: #fef9efff;
$light-coral: #fe6d73ff;

/* SCSS HSL */
$cg-blue: hsla(196, 64%, 37%, 1);
$tiffany-blue: hsla(174, 79%, 43%, 1);
$maximum-yellow-red: hsla(37, 100%, 73%, 1);
$floral-white: hsla(40, 88%, 97%, 1);
$light-coral: hsla(358, 99%, 71%, 1);

/* SCSS RGB */
$cg-blue: rgba(34, 124, 157, 1);
$tiffany-blue: rgba(23, 195, 178, 1);
$maximum-yellow-red: rgba(255, 203, 119, 1);
$floral-white: rgba(254, 249, 239, 1);
$light-coral: rgba(254, 109, 115, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);
$gradient-right: linear-gradient(90deg, #227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);
$gradient-bottom: linear-gradient(180deg, #227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);
$gradient-left: linear-gradient(270deg, #227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);
$gradient-top-right: linear-gradient(45deg, #227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);
$gradient-bottom-right: linear-gradient(135deg, #227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);
$gradient-top-left: linear-gradient(225deg, #227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);
$gradient-bottom-left: linear-gradient(315deg, #227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);
$gradient-radial: radial-gradient(#227c9dff, #17c3b2ff, #ffcb77ff, #fef9efff, #fe6d73ff);